@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); 
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");


html, body {
  margin: 0;
  padding: 0;
  background-color:#fce4bd
}

canvas {
  display: block;
  margin: auto; 
  padding-top: 10px;
}

h1 {
  color: 'black';
  font-size: xxx-large;
  margin: auto;
  font-family:'oswald';
  text-align: Center;
  padding-bottom: 1px;
}


h2 {
  color: black;
  font-size: large;
  margin: auto;
  font-family:'oswald';
  text-align: center;  
  padding-bottom: 10 px; 
  
}


p {
  color: black;
  font-size: medium;
  margin: auto;
  text-align: Center;
  font-weight: bold;
  font-family:'oswald';
  padding-bottom: 20 px;  
}

p2 {
  color: black;
  font-size: medium;
  margin: auto;
  text-align: Center;
  font-weight: bold;
  font-family:'oswald';
  padding-bottom: 20px;   
}  

#pad{
  padding-bottom: 10px;  
}

#scrunch{
  max-width: 600px;
  margin: auto;
  padding-bottom: 10px; 
}

button {
  background-color: black;
  color: #F6F8E3ff;
}


#button-holder {
  color: blue;
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: auto;
  justify-content: center;
}

#button-holder2 {

  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: auto;
  justify-content: center;
}


.banner {
  padding: 5px;
  letter-spacing: 2px;
  font-size: 100%;
  text-align: CENTER;
  margin: auto;
  background-color: white;
  border: 4px solid black;
}

#info1 {
  height: auto;
  margin-top: 5px;
  color: black;
  padding-bottom: 0px;
}


#info2 {
  border: 4px solid black;
  height: auto;
  margin-top: 20px;
  background-color: white;
  color: black
}
